.wrapper {
  background-color: black;
  flex-grow: 1;
}

.wrapper-test {
  background-color: black;
  flex-grow: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.heading {
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  text-align: center;
}

.editor {
  border-radius: 4px;
}

.icon {
  color: white;
}

.icon:hover {
  cursor: pointer
}