.wrapper {
  background-color: black;
  flex-grow: 1;
  width: calc(93vw / 3);
}

.wrapperMin {
  background-color: black;
  flex-grow: 0;
  width: 10%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.heading {
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  text-align: center;
}

.editor {
  border-radius: 4px;
}

.icon {
  color: white;
}

.icon:hover {
  cursor: pointer
}